
@{
    ViewBag.Title = "UserRequests";
    Layout = "~/Views/Shared/_AfterLayout.cshtml";
}

   


<h2>UserRequests</h2>

        

            <table class="table table-bordered table-hover table-striped sortable">

                <thead>

                    <tr>

                        <th>User Name</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Action</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>1</td>

                        <td>Haresh</td>

                        <td>haresh@gmail.com</td>
                        <td></td>

                    </tr>

                   

                </tbody>

            </table>

        







